
 .mui-list--inline>li {
  padding-left: 15px;
   padding-right: 15px;
  
}
.mui--text-body2 a {
 color: #fff;
 font-size: 110%;
}
/**
 * Body CSS

 */
 html,
 body {
   height: 100%;
 }
 
 html,
 body,
 input,
 textarea,
 buttons {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Header CSS
  */
 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
 }
 
 header ul.mui-list--inline {
   margin-bottom: 0;
 }
 
 header a {
   color: #fff;
 }
 
 header table {
   width: 100%;
 }
 
 
 /**
  * Content CSS
  */
 #content-wrapper {
   min-height: 100%;
 
   /* sticky footer */
   box-sizing: border-box;
   margin-bottom: -100px;
   padding-bottom: 100px;
 }
 
 
 /**
  * Footer CSS
  */
 footer {
   box-sizing: border-box;
   /* height: 100px; */
   background-color: #eee;
   border-top: 1px solid #e0e0e0;
   background-color: rgb(236, 238, 241);
   /* padding-top: 35px; */
   margin-top: 345px;
 }


.conversation-container > .header {
  background-color: cornflowerblue;
}
 
.message > .response {
  background-color: rgb(56, 87, 134);
  color: white;
}


.launcher {
  /* color: black; */
  background-color:  cornflowerblue;
}
/*  .open-launcher */
.open-launcher  {
  background-color: cornflowerblue;
}
.close-launcher  {
  background-color: cornflowerblue;
}
 @media (max-width: 800px) {
  .close-button {
  
      border: 0;
      display: block;
      position: absolute;
      right: 10px;
      top: 20px;
      width: 40px;
      border-radius: 100%;
      font-size: 50%;
  }
} 